# VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
.history/

# node.js
package-lock.json

# Private Node Modules
node_modules/

# Mac/OSX
.DS_Store
