.kBody {
    background-color: #702fa0;
}

.kTitle {
    color: #f8cbad;
    text-shadow: 0 0 4px #ed7e32;
}

.kText {
    color: #FFFFFF;
}

.kCard {
    background-color: #f8cbad !important;
}
.kCard .list-group .list-group-item {
    background-color: #f8cbad;
}

.kButton {
    background-color: #ed7e31 !important;
    border-color: #702fa0 !important;
}

.kFloatingTopRight {
    position: fixed;
	top: 20px;
	right: 20px;
}